
body {
  background-color: #2b4961;
  color: #fff;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}


.stopwatch {
  display:grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 50%; 
  padding-top: 25px;
  float: left;
}
.stopwatch2 {
  display:grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 50%; 
  padding-top: 25px;
  float: right;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  width: 270px;

  border: 2px solid;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.reczne input[type=text]{
  width: 40px;
}

.reczne {
  text-align: center;
  justify-content: center;
}
.gold {
  font-weight: 900;

  color: #f2c94c;
  text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
}

button.gold   {
  padding-top: 20px;
  font-size: 30px;
  border: 2px;
  border-color: white;
}
.controls {
  display: flex;
  justify-content: space-between;

  width: 187px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
}

#pauseButton {
  display: none;
}

.btn {
  
  border: 2px solid black;
  margin-top: 25px;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #f9fffa;
  color: rgb(255, 255, 255);
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

.fullwidth {
  width: 100%;
}